@charset "UTF-8";

.info {
	font-size: 12px;
}
.redirect {
	color: white;
}
.redirect:hover{
	color: rgba(150,150,150);
}
.page-link, .page-link:hover {
	color: rgb(41, 43, 44);
}
.page-item.active .page-link {
	color: white;
	background-color: rgb(41, 43, 44);
	border-color: rgb(41, 43, 44);
}