<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta charset="UTF-8">
	<title>Pokemon Cards</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="icon" href="/images/icon.png">
</head>
<body>
	<div th:replace="menu :: menu"></div>
	<div class = "container" style="margin-top:80px;">
		<h2>Account has been activated</h2>
		<a href="/home" class="redirect"> Sign in</a>
	</div>
</body>
</html>