<!DOCTYPE html>
<html lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta charset="UTF-8">
	<title>Pokemon Cards</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="javascript/cards.js"></script>
	<script src="javascript/collection.js"></script>
	<link rel="icon" href="/images/icon.png">
</head>
<body th:onload="|installTooltipListeners(); setInterval(setIndexCardsFragment, 5000);__${#authorization.expression('isAuthenticated()') ? 'getCash(); getFreeCard()' : ''}__|">
	<div th:replace="menu :: menu"></div>
	<div class="container-fluid">
		<div class="row" style="margin-top:56px;">
			<div class="col index-header shadow">
				<div class="row">
					<div class="col d-flex justify-content-center">
						<h1 style="margin-bottom:0px;">Pokemon Cards</h1>
					</div>
				</div>
				<div class="row">
					<div class="col d-flex justify-content-center">
						<p sec:authorize="!isAuthenticated()" th:text="'Join now and start building your deck with ' + ${#numbers.formatInteger(numberOfCards, 1, 'WHITESPACE') + ' different cards in ' + #numbers.formatInteger(numberOfSets, 1, 'WHITESPACE') + ' sets'}"></p>
						<p sec:authorize="isAuthenticated()" th:text="'Welcome back ' + ${#authentication.getPrincipal().getUsername()} + ', now go and catch them all'"></p>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="container-fluid">
 							<div class="row">
    							<div class="col search-container">
      								<form class="form-inline" action="/" id="search-form" method="get">
        								<input type="text" class="flex-fill mr-2 form-control" id="search" th:name="search" th:value="${enteredSearch == '' ? '' : enteredSearch}" placeholder="Search ...">
 										<button type="button" onclick="eraseSearch(); return false;" class="btn">
 											<img th:src="@{/images/cancel.png}" class="center" width="18" height="20" alt="C">
 										</button>
 										<button onclick="setIndexSearch(); return false;" id="search-submit" type="submit" class="btn">
   											<img th:src="@{/images/search.png}" class="center" width="18" height=20 alt="S">
   										</button>
      								</form>
    							</div>
  							</div>
						</div>
 					</div>
 				</div>
			</div>
			<div class="col">
				<div sec:authorize="!isFullyAuthenticated()" class="card-shadow" style="margin:25px auto; width:300px; height:550px; border-radius:10px; background-size: contain; background-image:url('images/login-card.jpg');">
					<form th:action="@{/home}" method="post" class="was-validated mx-auto login-format" style="padding-top:318px;">
						<div class="form-group mx-auto" style="max-width:250px; margin-top:-64px;" th:if="${param.error}">
							<p>Username or Password is wrong, please check again!</p>
						</div>
						<div class="form-group mx-auto" style="max-width:250px;">
							<label for="uname">Username</label>
							<input type="text" class="form-control" id="uname" placeholder="Enter Username or E-mail" name="username" required> 
						</div>
						<div class="form-group mx-auto" style="max-width:250px;">
							<label for="psw">Password</label> 
							<input type="password" class="form-control" id="psw" placeholder="Enter Password" name="password" required>
						</div>
						<div class="form-group mx-auto" style="max-width:250px;">
							<input type="submit" value="Login" class="btn btn-success">
							<span class="float-right">
								<input class="regular-checkbox" id="remember_me" name="remember-me" type="checkbox"/>
								<label class="form-check-label" for="remember-me">Remember Me</label> 
							</span>
						</div>
					</form>
				</div>
				<div sec:authorize="isFullyAuthenticated()" style="margin:120px auto; text-align:center">
					<div class="row">
						<div class="card card-shadow mx-2 d-block" style="width:220px;">
							<div class="card-header bg-primary">FREE CARD</div>
							<div class="card-body justify-content-center">
								<img id="pokeball" class="img-fluid image-responsive" alt="Pokeball" width="180px">
							</div>
							<div class="card-footer p-0">
								<button onclick="collectFreeCard();" id="freeCardButton" class="btn btn-block btn-success" style="padding: 10px;">Text</button>
							</div>
						</div>
						<div class="card card-shadow mx-2" style="width:220px;">
							<div class="card-header bg-primary">FREE COINS</div>
							<div class="card-body justify-content-center">
								<img id="chest" class="img-fluid image-responsive" alt="Chest" width="180px">
							</div>
							<div class="card-footer p-0">
								<button onclick="collectCoins();" class="btn btn-block btn-success" style="padding: 10px;" id="coinsButton"></button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="cards" class="row d-flex justify-content-center overflow-hidden">
			<div th:with="addButton=false" th:each="card : ${cards}">
				<div class="col px-0 justify-content-center">
					<div class="card mx-2" style="margin-bottom:25px;">
						<div th:insert="cards :: card"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>