<!DOCTYPE html>
<html lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Pokemon Cards</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="javascript/style.js"></script>
<link rel="shortcut icon" href="#">
</head>
<body th:onload="installListeners([[${sessionData.getScrollPosition()}]]);">
	<div class = "container-fluid scroller">
		<div class="row" style="margin-top:56px;">
			<div th:insert="verticalmenu :: verticalmenu"></div>
		</div>
		<div class="row" style="margin-left:215px;">
			<div class="col">
				<div th:insert="topmenu :: topmenu"></div>
				<div class = "container-fluid" style="margin-top:44px; overflow:hidden;">
					<div class="row">
						<div class ="col px-3">
							<h1>My Cards</h1>
						</div>
					</div>
					<div>
						<hr>
					</div>
					<div th:insert="cards :: cards"></div>
				</div>
				<div th:insert="pagination :: pagination"></div>
			</div>			
		</div>
	</div>
	<div th:insert="menu :: menu"></div>
</body>
</html>