<!DOCTYPE html>
<html lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta charset="UTF-8">
	<title>Pokemon Cards</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="javascript/cards.js"></script>
	<link rel="icon" href="/images/icon.png">
</head>
<body th:onload="installListeners([[${sessionData.getScrollPosition()}]]);">
	<div class = "container-fluid scroller">
		<div class="row" style="margin-top:56px;">
			<div th:insert="verticalmenu :: verticalmenu"></div>
		</div>
		<div class="row" style="margin-left:215px;">
			<div class="col px-0 overflow-hidden">
				<div th:insert="topmenu :: topmenu"></div>
				<div class = "container-fluid" style="margin-top:44px; overflow:hidden;">
					<div class="row">
						<div class ="col px-4 header">
							<table class="header-table">
								<tr>
									<td><h1>Sell</h1></td>
									<td>
										<table>
											<tr>
												<td>
													<h2>
														<span id="numberOfCards" th:text="${numberOfCards}"></span>
														<span id="cardsFound" th:if="${numberOfCards != '1'}">Cards Found</span>
														<span id="cardsFound" th:unless="${numberOfCards != '1'}">Card Found</span>
													</h2>
												</td>
											</tr>
											<tr>
												<td>
													<button style="width:100%;" class="btn btn-success" id="sellAll" th:disabled="${numberOfCards == '0'}" th:rarity="${selectedRarities}" th:set="${selectedSets}" th:type="${selectedTypes}" th:search="${enteredSearch}" th:onclick="|sellAll(${currentPage}, this.getAttribute('rarity'), this.getAttribute('set'), this.getAttribute('type'), this.getAttribute('search'))|">
														<span class="float-left">Sell All</span>
  														<span id="sellAllCoins" style="margin-left:-15px;" th:text="${#numbers.formatInteger(cardsValue, 1, 'WHITESPACE')}"></span>
  														<img style="margin-left:5px;" src="/images/coins.png" width="30" alt="Coins">
													</button>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</div>
					</div>
					<div class="px-1 mx-2" th:with="addButton=true, fragment='sellbutton :: sellbutton'" th:insert="cards :: cards"></div>
				</div>
				<div th:insert="pagination :: pagination"></div>
			</div>			
		</div>
	</div>
	<div th:insert="menu :: menu"></div>
</body>
</html>