<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
</head>
<body>
	<div th:fragment="sellbutton" class="card-footer">
  		<button name="sellbutton" class="btn btn-success btn-block card-link" th:id="${card.getId()}" th:rarity="${selectedRarities}" th:set="${selectedSets}" th:type="${selectedTypes}" th:search="${enteredSearch}" th:onclick="|sellCard(this.getAttribute('id'), ${currentPage}, this.getAttribute('rarity'), this.getAttribute('set'), this.getAttribute('type'), this.getAttribute('search'))|">
  			<span class="float-left">Sell</span>
  			<span style="margin-left:5px;" th:text="${#numbers.formatInteger(card.getRarity().getSellPrice(), 1, 'WHITESPACE')}"></span>
  			<img style="margin-left:5px;" src="/images/coins.png" width="30" alt="Coins">
  		</button>  
	</div>
</body>