<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
</head>
<body>
	<div th:fragment="topmenu" class="row">
		<div class="col px-0">
			<div class="fixed-top" style="margin-top:56px; margin-left:230px;">
				<div class="topnav">
					<a class="disabled active"> Sort By</a>
					<div th:each="sortOption : ${sortOptions}">
					 	<form th:action="@{${link + '/sort'}(__${currentPage == 1 ? ',' : 'page=${currentPage}'}__,__${selectedRarities == '' ? ',' : 'rarity=${selectedRarities}'}__,__${selectedSets == '' ? ',' : 'set=${selectedSets}'}__,__${selectedTypes == '' ? ',' : 'type=${selectedTypes}'}__,__${enteredSearch == '' ? ',' : 'search=${enteredSearch}'}__)}" method="post">
					 	 	<button type="submit" th:name="sort" th:value="${sortOption}" th:text="${sortOption.getName()}" th:classappend="${sessionData.getSortType() == sortOption ? 'active' : ''}"></button>
					 	 </form>
					</div>
					<div onmouseover="changeDropdownColor();" onmouseout="returnDropdownColor();" class="dropdown">
  						<button id="dropdown">Order By
  							<img src="images/expand.png">
  						</button>
						<div class="dropdown-content">
 							<form th:action="@{${link + '/order'}(__${currentPage == 1 ? ',' : 'page=${currentPage}'}__,__${selectedRarities == '' ? ',' : 'rarity=${selectedRarities}'}__,__${selectedSets == '' ? ',' : 'set=${selectedSets}'}__,__${selectedTypes == '' ? ',' : 'type=${selectedTypes}'}__,__${enteredSearch == '' ? ',' : 'search=${enteredSearch}'}__)}" th:each="orderType : ${sessionData.getSortType().orderTypeValues()}" method="post">
						  		<button type="submit" th:name="order" th:value="${orderType}" th:text="${orderType.getName()}" th:classappend="${sessionData.getOrderType() == orderType ? 'active' : ''}"></button>
					  		</form>
						</div>
					</div> 
					<div class="search-container">
					  	<div class="form-inline">
   							<form class="search-tool-tip" id="search-form" th:action="@{${link}(__${selectedRarities == '' ? ',' : 'rarity=${selectedRarities}'}__,__${selectedSets == '' ? ',' : 'set=${selectedSets}'}__,__${selectedTypes == '' ? ',' : 'type=${selectedTypes}'}__)}" method="post">
   								<input type="text" class="form-control mr-2" id="search" th:name="search" th:value="${enteredSearch == '' ? '' : enteredSearch}" placeholder="Search ...">
 								<div class="search-tooltip-table">
 									<p>In order to find results which fields are equal to the given phrase add ! at the beginning of the phrase</p>
 								</div>
 							</form>
 							<button onclick="eraseSearch();" class="btn">
 								<img th:src="@{images/cancel.png}" class="center" width="18" height="20" alt="C">
 							</button>
 							<button type="submit" form="search-form" class="btn">
   								<img th:src="@{images/search.png}" class="center" width="18" height=20 alt="S">
   							</button>
 						</div>
 					</div>
				</div>
			</div>
		</div>
	</div>
</body>