<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
</head>
<body>
	<div th:fragment="verticalmenu" id="verticalmenu" class="col-pixel-width vertical-menu">
		<div class="vertical-menu-top">
			<button id="rarities" type="button" class="btn-block">Rarities
				<img th:src="@{${sessionData.getExpanders().get('rarities') ? '/images/hide.png' : '/images/expand.png'}}">
			</button>
		</div>
		<div th:style="'display: ' + ${sessionData.getExpanders().get('rarities') ? 'block' : 'none;'}">
			<div th:each="rarity : ${rarities}">
				<div th:if="${rarity.value}" th:with="start=${#strings.startsWith(selectedRarities, rarity.key.getId())}, end=${#strings.endsWith(selectedRarities, rarity.key.getId())}">
					<div th:if="${start or end}">
						<div th:if="${start}" th:classappend="${rarity.value == true ? 'vertical-menu-selected' : ''}" th:with="replace=${#strings.substringAfter(selectedRarities, rarity.key + ',')}">
							<a class="btn-block" th:href="@{${link}(__${#strings.isEmpty(replace) ? ',' : 'rarity=${replace}'}__,__${selectedSets == '' ? ',' : 'set=${selectedSets}'}__,__${selectedTypes == '' ? ',' : 'type=${selectedTypes}'}__,__${enteredSearch == '' ? ',' : 'search=${enteredSearch}'}__)}" th:text="${rarity.key.getId()}"></a>
						</div>
						<div th:if="${end and !start}" th:classappend="${rarity.value == true ? 'vertical-menu-selected' : ''}" th:with="replace=${#strings.substringBefore(selectedRarities, ',' + rarity.key)}">
							<a class="btn-block" th:href="@{${link}(__${#strings.isEmpty(replace) ? ',' : 'rarity=${replace}'}__,__${selectedSets == '' ? ',' : 'set=${selectedSets}'}__,__${selectedTypes == '' ? ',' : 'type=${selectedTypes}'}__,__${enteredSearch == '' ? ',' : 'search=${enteredSearch}'}__)}" th:text="${rarity.key.getId()}"></a>
						</div>
					</div>
					<div th:unless="${start or end}"  th:classappend="${rarity.value == true ? 'vertical-menu-selected' : ''}" th:with="replace=${#strings.replace(selectedRarities, rarity.key + ',', '')}">
						<a class="btn-block" th:href="@{${link}(__${#strings.isEmpty(replace) ? ',' : 'rarity=${replace}'}__,__${selectedSets == '' ? ',' : 'set=${selectedSets}'}__,__${selectedTypes == '' ? ',' : 'type=${selectedTypes}'}__,__${enteredSearch == '' ? ',' : 'search=${enteredSearch}'}__)}" th:text="${rarity.key.getId()}"></a>
					</div>
				</div>
				<div th:unless="${rarity.value}">
					<a class="btn-block" th:href="@{${link}(rarity=${selectedRarities + (selectedRarities == '' ? '' : ',') + rarity.key},__${selectedSets == '' ? ',' : 'set=${selectedSets}'}__,__${selectedTypes == '' ? ',' : 'type=${selectedTypes}'}__,__${enteredSearch == '' ? ',' : 'search=${enteredSearch}'}__)}" th:text="${rarity.key.getId()}"></a>
				</div>
			</div>
		</div>
		<div class="vertical-menu-top">
			<button id="sets" type="button" class="btn-block">Sets
				<img th:src="@{${sessionData.getExpanders().get('sets') ? '/images/hide.png' : '/images/expand.png'}}">
			</button>
		</div>
		<div th:style="'display: ' + ${sessionData.getExpanders().get('sets') ? 'block' : 'none;'}">
			<div th:each="set : ${sets}">
				<div th:if="${set.value}" th:with="start=${#strings.startsWith(selectedSets, set.key.getId())}, end=${#strings.endsWith(selectedSets, set.key.getId())}">
					<div th:if="${start or end}">
						<div th:if="${start}" th:classappend="${set.value == true ? 'vertical-menu-selected' : ''}" th:with="replace=${#strings.substringAfter(selectedSets, set.key + ',')}">
							<a class="btn-block" th:href="@{${link}(__${selectedRarities == '' ? ',' : 'rarity=${selectedRarities}'}__,__${#strings.isEmpty(replace) ? ',' : 'set=${replace}'}__,__${selectedTypes == '' ? ',' : 'type=${selectedTypes}'}__,__${enteredSearch == '' ? ',' : 'search=${enteredSearch}'}__)}" th:text="${set.key.getId()}"></a>
						</div>
						<div th:if="${end and !start}" th:classappend="${set.value == true ? 'vertical-menu-selected' : ''}" th:with="replace=${#strings.substringBefore(selectedSets, ',' + set.key)}">
							<a class="btn-block" th:href="@{${link}(__${selectedRarities == '' ? ',' : 'rarity=${selectedRarities}'}__,__${#strings.isEmpty(replace) ? ',' : 'set=${replace}'}__,__${selectedTypes == '' ? ',' : 'type=${selectedTypes}'}__,__${enteredSearch == '' ? ',' : 'search=${enteredSearch}'}__)}" th:text="${set.key.getId()}"></a>
						</div>
					</div>
					<div th:unless="${start or end}"  th:classappend="${set.value == true ? 'vertical-menu-selected' : ''}" th:with="replace=${#strings.replace(selectedSets, set.key + ',', '')}">
						<a class="btn-block" th:href="@{${link}(__${selectedRarities == '' ? ',' : 'rarity=${selectedRarities}'}__,__${#strings.isEmpty(replace) ? ',' : 'set=${replace}'}__,__${selectedTypes == '' ? ',' : 'type=${selectedTypes}'}__,__${enteredSearch == '' ? ',' : 'search=${enteredSearch}'}__)}" th:text="${set.key.getId()}"></a>
					</div>
				</div>
				<div th:unless="${set.value}">
					<a class="btn-block" th:href="@{${link}(__${selectedRarities == '' ? ',' : 'rarity=${selectedRarities}'}__,set=${selectedSets + (selectedSets == '' ? '' : ',') + set.key},__${selectedTypes == '' ? ',' : 'type=${selectedTypes}'}__,__${enteredSearch == '' ? ',' : 'search=${enteredSearch}'}__)}" th:text="${set.key.getId()}"></a>
				</div>
			</div>
		</div>
		<div class="vertical-menu-top">
			<button id="types" type="button" class="btn-block">Types
				<img th:src="@{${sessionData.getExpanders().get('types') ? '/images/hide.png' : '/images/expand.png'}}">
			</button>
		</div>
		<div th:style="'display: ' + ${sessionData.getExpanders().get('types') ? 'block' : 'none'}">
			<div th:each="type : ${types}">
				<div th:if="${type.value}" th:with="start=${#strings.startsWith(selectedTypes, type.key.getId())}, end=${#strings.endsWith(selectedTypes, type.key.getId())}">
					<div th:if="${start or end}">
						<div th:if="${start}" th:classappend="${type.value == true ? 'vertical-menu-selected' : ''}" th:with="replace=${#strings.substringAfter(selectedTypes, type.key + ',')}">
							<a class="btn-block" th:href="@{${link}(__${selectedRarities == '' ? ',' : 'rarity=${selectedRarities}'}__,__${selectedSets == '' ? ',' : 'set=${selectedSets}'}__,__${#strings.isEmpty(replace) ? ',' : 'type=${replace}'}__,__${enteredSearch == '' ? ',' : 'search=${enteredSearch}'}__)}" th:text="${type.key.getId()}"></a>
						</div>
						<div th:if="${end and !start}" th:classappend="${type.value == true ? 'vertical-menu-selected' : ''}" th:with="replace=${#strings.substringBefore(selectedTypes, ',' + type.key)}">
							<a class="btn-block" th:href="@{${link}(__${selectedRarities == '' ? ',' : 'rarity=${selectedRarities}'}__,__${selectedSets == '' ? ',' : 'set=${selectedSets}'}__,__${#strings.isEmpty(replace) ? ',' : 'type=${replace}'}__,__${enteredSearch == '' ? ',' : 'search=${enteredSearch}'}__)}" th:text="${type.key.getId()}"></a>
						</div>
					</div>
					<div th:unless="${start or end}"  th:classappend="${type.value == true ? 'vertical-menu-selected' : ''}" th:with="replace=${#strings.replace(selectedTypes, type.key + ',', '')}">
						<a class="btn-block" th:href="@{${link}(__${selectedRarities == '' ? ',' : 'rarity=${selectedRarities}'}__,__${selectedSets == '' ? ',' : 'set=${selectedSets}'}__,__${#strings.isEmpty(replace) ? ',' : 'type=${replace}'}__,__${enteredSearch == '' ? ',' : 'search=${enteredSearch}'}__)}" th:text="${type.key.getId()}"></a>
					</div>
				</div>
				<div th:unless="${type.value}">
					<a class="btn-block" th:href="@{${link}(__${selectedRarities == '' ? ',' : 'rarity=${selectedRarities}'}__,__${selectedSets == '' ? ',' : 'set=${selectedSets}'}__,type=${selectedTypes + (selectedTypes == '' ? '' : ',') + type.key},__${enteredSearch == '' ? ',' : 'search=${enteredSearch}'}__)}" th:text="${type.key.getId()}"></a>
				</div>
			</div>
		</div>
	</div>
</body>